body {

    background-color: #131415 !important;
    font-family: 'Inter', sans-serif !important;
}


h1 {
    color: #fafafa;
}

.navbar .navbar-nav {
    text-align: center;
}

img {
    opacity: 75%;
}

h2 {
    color: red !important;
}

a {
    text-decoration: none !important;
}





