body {

    background-color: #131415 !important;
    font-family: 'Inter', sans-serif !important;
}




h1 {
    color: #fafafa;
    font-weight: 700 !important;
}

.navbar .navbar-nav {
    text-align: center;
}

img {
    opacity: 75%;
}

#about-me {
    background: #0e2431; 
    transform:skewY(6deg);
}

/* This un slants the text in about me section */
#about-me > * {
    transform: skewY(-6deg);
}


#projects {
    background: #f95959;
    transform:skewY(6deg);
}

/* This un slants the text in projects section  */
#projects > * {
    transform: skewY(-6deg);
}




a {
    text-decoration: none !important;
    color: rgb(50, 50, 50) !important;
    font-weight: 700 !important;
}







