body {
    background-color: #131415 !important;
    font-family: 'Inter', sans-serif !important;
}




h1 {
    color: #fafafa;
    font-weight: 700 !important;
}

.navbar .navbar-nav {
    text-align: center;
}

img {
    opacity: 75%;
}


#about-me {
    background: rgba(14, 36, 49, .5);
    transform:skewY(3deg);
    margin-top: 100px;
}

/* This un slants the text in about me section */
#about-me > * {
    transform: skewY(-3deg);
}


#projects {
    background: rgba(252, 58, 81, 0.825);
    transform:skewY(-3deg);
}

/* This un slants the text in projects section  */
#projects > * {
    transform: skewY(3deg);
}




a {
    text-decoration: none !important;
    color: rgb(50, 50, 50) !important;
    font-weight: 700 !important;
}

.card {
    /* box-shadow: 0px 0px 50px rgba(0, 115, 255, 0.402);
} */







