{% extends 'main.html' %}

{% block content %}
{% load static %}



<!-- Top -->
<div class="container d-flex justify-content-center my-5 text-secondary">
    <div class="row">
        <div class="col">
            <a href="https://discord.gg/YyBNqEKU"> Discord </a>
        </div>
        <div class="col">
            <a href="https://github.com/mrjasonwalton00"> Github </a>
        </div>
        <div class="col">
            <a href="{% url 'page1' %}"> Blog </a>
        </div>
    </div>
</div>

<!-- Socials -->
<div class="container d-flex justify-content-center text-secondary">
    <div class="row">
        <div class="col">
            <a href="https://www.instagram.com/mrjasonwalton/"> <i class="bi bi-instagram text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
        <div class="col">
            <a href="https://www.youtube.com/channel/UCIimmRf4PdmwyUCbWTbd74w"> <i class="bi bi-youtube text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
        <div class="col">
            <a href="https://twitter.com/mrjasonwalton00"> <i class="bi bi-twitter text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
    </div>
</div>


<!-- Title -->
<div class="container p-5">
    <div class="row">
        <div class="col-12 col-lg-4 d-flex justify-content-center">
            <img src="{% static 'images/profile.PNG' %}" width="150px" height="150px" style="border-radius: 100px;">
        </div>
        <div class="col">
            <h1 style="font-size: 50px;"> Jason Walton </h1>
            <p class = "text-secondary"> Central Connecticut State University </p>
            <p class = "text-secondary"> B.S Computer Science Honors, Cybersecurity Concentration </p>
        </div>
        
    </div>
</div>

<!-- Links -->
<div class="container">
    <div class="row text-center">
        <div class="col">
            <a href="{% static 'pdfs/CV-Walton.pdf' %}"> Resume </a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/jason-walton-46373525b/"> Linkedln </a>
        </div>
        <div class="col">
            <a href="mailto:jpwalton00@gmail.com">Email</a>
        </div>
        <div class="col">
            <a href="#">Skills</a>

        </div>
    </div>
</div>


<!-- About Me -->
    <div id = "about-me" style="height: auto;" class="container p-5 pb-5 rounded">
        <div class="row">
            <div class="col">
                <h1> About Me </h1>
                <br>
            </div>
        </div>
        <div class="row text-light">
            <div class="col" style="margin-right: 150px;">
                <p> Jason is currently a student studying computer science at Central Connecticut State University. During his time he has studied programming languages including Java, C, and Python and advanced computer science topics such as data structures and algorithms. </p>

                <br>
                <p> He enjoys studying Software Engineering and project management topics using agile, and has experience managing a team using agile methodology. Jason also is passionate about UX Design and web development, where he creates web applications for side projects. </p>
                   
                <br>
                <p> Outside of school Jason ran Division 1 track for four years at Central Connecticut State University, he also enjoys snowboarding, fishing, hiking, and traveling in his free time. </p>            
            </div>
        </div>
    </div>

<!-- Relevant Coursework -->
<div id = "coursework" style="height: auto;" class="container p-5">
    <div class="row">
        <div class="col">
            <h1 class = "mb-5"> Relevant Coursework </h1>
        </div>
    </div>
    <div class="row text-light">
        <!-- Card 1 -->
        <div id = "card-1" class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark border-dark rounded shadow-lg " style="max-width: 18rem;">
                <div class="card-body text-light">
                    <h5 class="card-title">Software Engineering</h5>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark rounded shadow-lg" style="max-width: 18rem;">
                <div class="card-body text-light">
                  <h5 class="card-title"> System Programming </h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark rounded shadow-lg" style="max-width: 18rem;">
                <div class="card-body text-light">
                  <h5 class="card-title">Algorithms</h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <!-- Row 2  -->
    <div class="row text-light">
        <!-- Card 1 -->
        <div id = "card-1" class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark rounded shadow-lg" style="max-width: 18rem;">
                <div class="card-body text-light">
                    <h5 class="card-title">Secure Software Design </h5>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark rounded shadow-lg" style="max-width: 18rem;">
                <div class="card-body text-light">
                  <h5 class="card-title"> Web Development </h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-lg-4">
            <div class="card mb-3 bg-dark rounded shadow-lg" style="max-width: 18rem;">
                <div class="card-body text-light">
                  <h5 class="card-title">Data Structures </h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- Skills -->
<!-- <img src="{% static 'images/atlassian.png' %}" width="100px">
            <img src="{% static 'images/git-icon.png' %}" width="100px">
            <img src="{% static 'images/python-icon.png' %}" width="100px">
            <img src="{% static 'images/django-icon.png' %}" width="100px">
            <img src="{% static 'images/java-icon.png' %}" width="100px">  
            <img src="{% static 'images/css.png' %}" width="100px"> -->

<div id = "coursework" style="height: auto;" class="container p-5">
    <div class="row">
        <div class="col">
            <h1 class = "mb-5"> Programming, Frameworks & Software Tools </h1>
        </div>
    </div>
    <div class="row text-light text-center">
        <div class="col">
            <img src="{% static 'images/git-icon.png' %}" width="100px" height="100px">
            <p> Git </p>
        </div>
        <div class="col">
            <img src="{% static 'images/python-icon.png' %}" width="100px" height="100px">
            <p> Python </p>
        </div>
        <div class="col">
            <img src="{% static 'images/java-icon.png' %}" width="100px" height="100px">
            <p> Java </p>
        </div>
        <div class="col">
            <img src="{% static 'images/atlassian.png' %}" width="100px" height="100px">
            <p> Atlassian </p>
        </div>
    </div>
    <!-- Row 2 -->
    <div class="row text-light text-center">
        <div class="col">
            <img src="{% static 'images/css-3.png' %}" width="100px" height="100px">
            <p> Css </p>
        </div>
        <div class="col">
            <img src="{% static 'images/html-icon.png' %}" width="100px" height="100px">
            <p> HTML </p>
        </div>
        <div class="col">
            <img src="{% static 'images/django.png' %}" width="100px" height="100px">
            <p> Django </p>
        </div>
        <div class="col">
            <img src="{% static 'images/bootstrap.png' %}" width="100px" height="100px">
            <p> Bootstrap </p>
        </div>
    </div>



</div>

<!-- Projects -->
<div id = "projects" style="height:auto;" class="container p-5 rounded">
    <div class="row">
        <div class="col">
            <h1 class = "text-center"> Projects </h1>
        </div>
    </div>
    <div class="row rounded shadow-lg my-5 p-5">
        <div class="col">
            <h2> MMUN Hear me Now! </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
    </div>
    <div class="row rounded shadow-lg my-5 p-5">
        <div class="col">
            <h2> CCSU Rate My Professor </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
    </div>
    <div class="row rounded shadow-lg my-5 p-5">
        <div class="col">
            <h2>Snake</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
    </div>

</div>

<!-- Footer -->
<div class="container d-flex justify-content-center text-secondary my-5">
    <div class="row">
        <div class="col">
            <a href="https://www.instagram.com/mrjasonwalton/"> <i class="bi bi-instagram text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
        <div class="col">
            <a href="https://www.youtube.com/channel/UCIimmRf4PdmwyUCbWTbd74w"> <i class="bi bi-youtube text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
        <div class="col">
            <a href="https://twitter.com/mrjasonwalton00"> <i class="bi bi-twitter text-secondary" style="font-size: 20px;"></i> </a> 
        </div>
    </div>
    
</div>









{% endblock content %}